# ==========================================
# 모델 설정 (Pre-trained Model)
# ==========================================
tokenizer_name: "kakaocorp/kanana-1.5-8b-base"

# ==========================================
# Model Architecture
# ==========================================
model_config:
  dim: 2048
  depth: 18 
  head: 16
  intermediate_size: 5632
  max_seq_len: 2048

dataset_config:
  pretrain:
    test_size: 0.001
  sft:
    test_size: 0.001

# ==========================================
# Trainer Config
# ==========================================
train_config:
  eval_steps: 5000
  batch_size: 4
  num_workers: 8
  learning_rate: 0.0001
  num_epochs: 1
  gradient_accumulation_steps: 8
  warmup_steps: 2000
  max_grad_norm: 1.0
  weight_decay: 0.1
  logging_steps: 100
  save_total_limit: 1
  fp16: False
  bf16: True
  gradient_checkpointing: True
  report_to: "tensorboard"
  deepspeed: "configs/ds_config.json"